*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: "Inter", "Plus Jakarta Sans", "Roboto", sans-serif;  
    background-color: #b563ef25;
}


.bar-indicator{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.bar-indicator-title{
    padding: 6px;
    width: 200px;
    border-radius: 10px;
    background: linear-gradient(
    to right,
    #f44336 10%,   
    #a707f1 10% 
    )
}

.yearly-expense{
    border: none;
    background-color: #e0dde22d;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24,
}
.expense-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 500px;
}
.top-card{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.bottom-card{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.card-info{
    color: #a707f1;
    font-size: 12px;
}
.detail-income{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.income-deyails{
    color: #a707f1;
    font-size: 11px;
}
.text-transaction{
    opacity: 0.5;
    font-size: 12px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.category-button-type{
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(212, 209, 209, 0.2);
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    border: ghostwhite;
}

.category {
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 95%;              
    max-width: 800px;       
    margin-left: auto;    
    margin-right: auto;      
    border: 1px solid #ddd;  
  }
  
.category-amountq{
    color: #3dee8aaa;
}  
.category-amount{
    color: rgba(235, 37, 37, 0.597);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.category-items{
    border-top: 1px solid #ddd;
    padding-top: 16px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.category-info{
    position: relative;
    right: 40px;
}
.category-button{
   margin-top: 5px;
   border-radius: 10px;
   padding: 5px;
   border: none;
   font-size: 13px;
}
.category-date{
    padding: 10px;
}
.category-amount{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-display{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.card-details{
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-between;
}

.pool-details-card{
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 95%;              
    max-width: 800px;       
    margin-left: auto;    
    margin-right: auto;      
    border: 1px solid #ddd; 
    border: 1px solid #000;
}

.detail-transaction{
    display: flex;
    flex-direction: column;
}

.pool-icon{
    border: 1px solid #b4b2b2;
    background-color: #c1c1c1da;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
}

.pool-total{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(189, 189, 189, 0.835);
}
.pool-button{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.edit{
    color: #fff;
    padding: 15px 50px 15px 50px;
    background-color: red;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 300;
}
.delete{
    color: #fff;
    padding: 15px 50px 15px 50px;
    background-color: green;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 300;
}